# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
.env

# Flask
instance/
.webassets-cache

# IDE
.vscode/
.idea/
*.swp

# Uploads
static/recordings/*
static/images/singers/*
static/images/artists/*
!static/images/default-avatar.jpg

# Database
*.db
*.sqlite

# Logs
*.log